{% extends "base.html" %}
{% load vacancies_tags %}

{% block title %}
    {{ block.super }} | Вакансии компании
{% endblock %}

{% block style %}
body {
background-color: #F6F2E6;
}
{% endblock %}

{% include "included/_navbar.html" %}

{% block content %}

<main class="container mt-3 pb-5">
    <div class="row mt-5">

        {% include "vacancies/included/_sidebar.html" %}

        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4">
                    <section class="tab-pane fade show active">
                        <h2 class="h4 pt-2 pb-3">Вакансии</h2>
                        {% for vacancy in vacancy_list %}
                        <div class="card mt-3">
                            <div class="card-body px-4">
                                <div class="row align-items-center">
                                    <div class="col-6 col-lg-8">
                                        <h4>{{ vacancy.title }}</h4>
                                        <p class="mb-1">
                                            <span class="mr-4">{{ vacancy.views|ru_pluralize:"просмотр,просмотра,просмотров" }}</span>
                                            <a href="{% url 'vacancy_update' vacancy.pk  %}#applications" class="text-info">{{ vacancy.cnt|ru_pluralize:"отклик,отклика,откликов" }}</a>
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-4 text-right">
                                        <a href="{% url 'vacancy_update' vacancy.pk %}" class="btn btn-outline-info">Изменить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="alert alert-info" role="alert">У вас нет вакансий, но вы можете создать первую!</div>
                        {% endfor %}
                        <a href="{% url 'vacancy_create' %}" class="btn btn-info mt-3">Добавить вакансию</a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}