{% extends "base.html" %}
{% load vacancies_tags %}

{% block title %}
    {{ block.super }} | Компания {{ company }}
{% endblock %}

{% block content %}
<main class="container mt-3">
    <div class="navbar mt-5">
        <p><a href="#">Назад</a></p>
    </div>
    <section>
        <div class="text-center">
            <img src="{{ company.logo.url }}" width="130" height="80" alt="">
        </div>
        <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;"><strong>{{ company.name }}</strong></h1>
        <p class="text-center pt-1">{{ company.location }},
            {{ vacancies|length|ru_pluralize:"вакансия,вакансии,вакансий" }}</p>

        {% include "vacancies/included/_vacancy.html" %}

    </section>
</main>
{% endblock %}