{% extends "base.html" %}
{% load vacancies_tags %}

{% block title %}
    {{ block.super }} | {{ title }}
{% endblock %}

{% block content %}
<main class="container mt-3">
    <section>
        <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>{{ title }}</strong></h1>
        <p class="text-center pt-1">
            {{ vacancies|length|ru_pluralize:"вакансия,вакансии,вакансий" }}</p>

        {% include "vacancies/included/_vacancy.html" %}

    </section>
</main>
{% endblock %}


